@model Trabalho20172.Models.LocacaoViewModel
@{
    ViewBag.Title = "Teste";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<!-- Teaser start -->
<section id="teaser">
    <div class="container">
        <div class="row">
            <div class="col-md-7 col-xs-12 pull-right">
                <div id="carousel-example-generic" class="carousel slide" data-ride="carousel">
                    <!-- Wrapper for slides start -->
                    <div class="carousel-inner">
                        <div class="item active">
                            <h1 class="title">
                                Luxury car from from $28 day
                                <span class="subtitle">Treat yourself in USA</span>
                            </h1>
                            <div class="car-img">
                                <img src="~/Content/img/car1.png" class="img-responsive" alt="car1">
                            </div>
                        </div>
                        <div class="item">
                            <h1 class="title">
                                Get 15% off your rental
                                <span class="subtitle">Plan your trip now</span>
                            </h1>
                            <div class="car-img">
                                <img src="~/Content/img/car2.png" class="img-responsive" alt="car1">
                            </div>
                        </div>
                    </div>
                    <!-- Wrapper for slides end -->
                    <!-- Slider Controls start -->
                    <a class="left carousel-control" href="#carousel-example-generic" data-slide="prev">
                        <span class="glyphicon glyphicon-chevron-left"></span>
                    </a>
                    <a class="right carousel-control" href="#carousel-example-generic" data-slide="next">
                        <span class="glyphicon glyphicon-chevron-right"></span>
                    </a>
                    <!-- Slider Controls end -->
                </div>
            </div>
            <div class="col-md-5 col-xs-12 pull-left">
                <div class="reservation-form-shadow">
                    <form action="/Veiculo/Veiculos?modo=novo" method="post" name="car-select-form" id="car-select-form">
                        <div class="alert alert-danger hidden" id="car-select-form-msg">
                            <button type="button" class="close" data-dismiss="alert" aria-hidden="true">×</button>
                            <strong>Note:</strong> Todos os campos são obrigatórios!
                            <input type="hidden" id="modo" value="novo">
                        </div>
                        <!-- Pick-up location start -->
                        <div class="location">
                            <div class="input-group pick-up">
                                <span class="input-group-addon"><span class="glyphicon glyphicon-map-marker"></span> Retirada</span>
                                @Html.DropDownList("listaLocalRetirada", Model.ListaDeAgencias, new { @class = "form-control" })
                            </div>
                            <!-- Pick-up location end -->
                            <a class="different-drop-off" href="#">Local de entrega diferente da retirada?</a>
                            <!-- Drop-off location start -->
                            <div class="input-group drop-off">
                                <span class="input-group-addon"><span class="glyphicon glyphicon-map-marker"></span> Entrega</span>
                                @Html.DropDownList("listaLocalEntrega", Model.ListaDeAgencias, new { @class = "form-control" })

                            </div>
                        </div>
                        <!-- Drop-off location end -->
                        <!-- Pick-up date/time start -->
                        <div class="datetime pick-up">
                            <div class="date pull-left">
                                <div class="input-group">
                                    <span class="input-group-addon pixelfix"><span class="glyphicon glyphicon-calendar"></span> Retirar</span>
                                    <input type="text" name="pick-up-date" id="pick-up-date" class="form-control datepicker" placeholder="dd/mm/yyyy">
                                </div>
                            </div>
                            <div class="time pull-right">
                                <div class="styled-select-time">
                                    <select name="pick-up-time" id="pick-up-time">
                                        <option value="06:00">06:00</option>
                                        <option value="06:30">06:30</option>
                                        <option value="07:00">07:00</option>
                                        <option value="07:30">07:30</option>
                                        <option value="08:00">08:00</option>
                                        <option value="08:30">08:30</option>
                                        <option value="09:00">09:00</option>
                                        <option value="09:30">09:30</option>
                                        <option value="10:00">10:00</option>
                                        <option value="10:30">10:30</option>
                                        <option value="11:00">11:00</option>
                                        <option value="11:30">11:30</option>
                                        <option value="12:00">12:00</option>
                                        <option value="12:30">12:30</option>
                                        <option value="13:00">13:00</option>
                                        <option value="13:30">13:30</option>
                                        <option value="14:00">14:00</option>
                                        <option value="14:30">14:30</option>
                                        <option value="15:00">15:00</option>
                                        <option value="15:30">15:30</option>
                                        <option value="16:00">16:00</option>
                                        <option value="16:30">16:30</option>
                                        <option value="17:00">17:00</option>
                                        <option value="17:30">17:30</option>
                                        <option value="18:00">18:00</option>
                                    </select>
                                </div>
                            </div>
                            <div class="clearfix"></div>
                        </div>
                        <!-- Pick-up date/time end -->
                        <!-- Drop-off date/time start -->
                        <div class="datetime drop-off">
                            <div class="date pull-left">
                                <div class="input-group">
                                    <span class="input-group-addon pixelfix"><span class="glyphicon glyphicon-calendar"></span> Entregar</span>
                                    <input type="text" name="drop-off-date" id="drop-off-date" class="form-control datepicker" placeholder="dd/mm/yyyy">
                                </div>
                            </div>
                            <div class="time pull-right">
                                <div class="styled-select-time">
                                    <select name="drop-off-time" id="drop-off-time">
                                        <option value="06:00">06:00</option>
                                        <option value="06:30">06:30</option>
                                        <option value="07:00">07:00</option>
                                        <option value="07:30">07:30</option>
                                        <option value="08:00">08:00</option>
                                        <option value="08:30">08:30</option>
                                        <option value="09:00">09:00</option>
                                        <option value="09:30">09:30</option>
                                        <option value="10:00">10:00</option>
                                        <option value="10:30">10:30</option>
                                        <option value="11:00">11:00</option>
                                        <option value="11:30">11:30</option>
                                        <option value="12:00">12:00</option>
                                        <option value="12:30">12:30</option>
                                        <option value="13:00">13:00</option>
                                        <option value="13:30">13:30</option>
                                        <option value="14:00">14:00</option>
                                        <option value="14:30">14:30</option>
                                        <option value="15:00">15:00</option>
                                        <option value="15:30">15:30</option>
                                        <option value="16:00">16:00</option>
                                        <option value="16:30">16:30</option>
                                        <option value="17:00">17:00</option>
                                        <option value="17:30">17:30</option>
                                        <option value="18:00">18:00</option>
                                    </select>
                                </div>
                            </div>
                            <div class="clearfix"></div>
                        </div>
                        <!-- Drop-off date/time end -->
                        <input type="submit" class="submit" name="submit" value="Continuar" id="checkoutModalLabel">
                        @*<a href="@Url.Action("Veiculos", "Veiculo")" name="submit" type="submit" class="btn submit" >Continuar</a>*@

                    </form>
                </div>
            </div>
        </div>
    </div>
</section>
<!--Modal de Login-->
<div class="modal fade" id="modal-login" role="dialog">
    <div class="modal-dialog">

        <!-- Modal content-->
        <div class="modal-content">
            <div class="modal-header" style="padding:35px 50px;">
                <button type="button" class="close" data-dismiss="modal">&times;</button>
                <h4><span class="glyphicon glyphicon-lock"></span> Login</h4>
            </div>
            <div class="modal-body" style="padding:40px 50px;">
                <form role="form" class="form" id="form-login">
                    <span id="msgErroLogin" class="msgErro" style="display:none"><font color="red">CPF ou Senha inválidos!</font></span>
                    <br />
                    <div class="form-group">
                        <input type="hidden" id="IdCliente" value="" />
                        <label for="usrname"><span class="glyphicon glyphicon-user"></span> CPF</label>
                        <input type="text" class="form-control" id="cpfUser" placeholder="Digite o CPF">
                        <span id="msgErroCPF" class="msgErro" style="display:none"><font color="red">O CPF é obrigatório!</font></span>
                    </div>
                    <div class="form-group">
                        <label for="psw"><span class="glyphicon glyphicon-eye-open"></span> Senha</label>
                        <input type="password" class="form-control" id="senhaUser" placeholder="Digite a Senha">
                        <span id="msgErroSenha" class="msgErro" style="display:none"><font color="red">A senha é obrigatória!</font></span>
                    </div>
                    <div class="checkbox">
                        <label><input type="checkbox" value="" checked>Remember me</label>
                    </div>
                    <button type="button" class="btn btn-primary btn-block" id="efetuarLogin"><span class="glyphicon glyphicon-off"></span> Login</button>
                </form>
            </div>
            <div class="modal-footer">
                <button type="submit" class="btn btn-danger btn-default pull-left" data-dismiss="modal"><span class="glyphicon glyphicon-remove"></span> Cancel</button>
                <p>Not a member? <a href="#" id="btn-cadastro">Sign Up</a></p>
                <p>Forgot <a href="#">Password?</a></p>
            </div>
        </div>

    </div>
</div>

@section Scripts {
    <script type="text/javascript">

        $(document).ready(function () {
            debugger;
            var idCliente = '@HttpContext.Current.Session["idCliente"]';
            if(idCliente != "") {
                debugger;
                $("#opLogin").hide();
                $("#opReservas").show();
                $("#opLogout").show();
            }

            //Abre o Modal de login
            $("#opLogin").click(function (e) {
                $("#modal-login").modal();
            });

            //Verifica se o cliente está cadastrado e faz o login
            $("#efetuarLogin").click(function (e) {

                $("#msgErroLogin").hide();

                var login = $("#cpfUser").val();
                var senha = $("#senhaUser").val();
                var erro = 0;

                if (login == "") {
                    $("#msgErroCPF").show();
                    $("#cpfUser").css({ 'border': 'red solid 1px' })
                    erro = 1;
                }
                if (senha == "") {
                    $("#msgErroSenha").show();
                    $("#senhaUser").css({ 'border': 'red solid 1px' })
                    erro = 1;
                }

                if (erro == 0) {

                    $.ajax({
                        url: "/Acesso/EfetuarLogin",
                        type: "POST",
                        dataType: 'json',
                        data: {
                            login: $("#cpfUser").val(),
                            senha: $("#senhaUser").val()
                        },
                        success: function (result) {
                            if (result.Status == "ok") {
                                $("#IdCliente").val(result.IdCliente);
                                $("#modal-login").modal('toggle');
                                $("#opLogin").hide();
                                $("#opReservas").show();
                                $("#opLogout").show();
                            }
                            else {
                                $("#msgErroLogin").show();

                            }
                        }
                    });
                }

            });


        });

    </script>
}
